body{
    background-color: BlanchedAlmond;
    color:brown;
    text-align: center;
}
button{
    background-color: Bisque ;
    color: maroon;
}

.topnav {
    background-color: rgb(184, 87, 87);
    overflow: hidden;
}

.topnav a {
    color: #462424;
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(138, 79, 79) ;
}

.topnav a.active {
    background-color: rgb(158, 67, 67);
    color: rgb(0, 0, 0);
}

p{
    border-color: brown;
    width: 6aem
}
.bg{
    background-color: brown;
}


.bg1{
    background-color: white;
}

.border {
    border: 100px;
    padding: 20px;
}